body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

button {
    border: none;
    background-color: #FF6D60;
    color: #fff;
    padding: 1.5% 3%;
    border-radius: 10px;
    margin: 3% 5%;
}

button:hover {
    background-color: #c1574e;
    opacity: .8;
    transition-duration: .5s;
}

form {
    border: 1px solid #0f0f0f;
    border-radius: 5px;
    margin-left: 20%;
    padding: 3% 5%;
    width: 50%;
}

h1 {
    text-align: left;
    color: #F7D060;
}

input {
    margin: 1.5% 0;
}

.create-btn {
    font-weight: bold;
}